.DS*
*.lst
*.b#?
*.s#?
*.l#?
*.html
xilinx/*
*.zip
*.lck
*.exe
*.obj
*.log
*.xml
*.xsl
*.xwbt
gerber
gerber/

big.txt
big.bin
testrom/M5_test.bin
pic/firmware/intermediate
*.hex
*.map
*.mcs
*.o
*.d
*.elf
